body {
    font-family: Arial;
    margin: 0;
    }
    .header {
    padding: 10px;
    text-align: center;
    background: #1a42bc;
    color: rgb(255, 255, 255);
    font-size: 15px;
    }
    .content {padding:5px;}
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background color: orange;
        color: white;
        text-align: center;
    }