
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #5d67aa;
  color: white;
  width: 576px;
  margin: auto;
  padding: 1rem 2rem;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.body {
  background-color: #5d67aa;
  width: 576px;
  color: white;
  text-align: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.body > div {
  margin: auto;
}

footer {
  position: relative;
  max-width: 576px;
  min-height: 200px;
  margin: auto;
  background-color: #5d67aa;
  color: white;
  text-align: center;
}

.menubutton {
  background-color: #5daa65;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 300px;
  height: 50px;
}

.menubutton:hover {
  background-color: #5d67aa;
  color: white;
}

a:hover {
  color: white;
}

.container {
  display: grid;
  max-width: 576px;
  grid-template-columns: auto auto auto;
  background-color: #5d67aa;
  row-gap: 10px;
  column-gap: 10px;
}

.containercontactformulier {
  max-width: 576px;
  margin: auto;
  background-color: #5d67aa;
}

.container > div {
  background-color: #5d67aa;
  font-size: 30px;
  text-align: center;
  max-width: 576px;
  margin: auto;
}

.buttoncontainer {
  text-align: center;
  align-items: center;
  background-color: #5d67aa;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

.buttoncontainer > button {
  margin: 10px;
  border: none;
  display: block;
  background-color: #59ad73;
  color: white;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 50px;
  text-decoration: none;
}

.buttoncontainer > button:hover {
  background-color: rgb(43, 226, 83);
  color: white;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}

.forminput input {
  text-align: left;
  display: flex;
  width: 100%;
  background-color: #5daaa4;
  color: white;
}

.opmerkingen {
  background-color: #5d67aa;
  color: white;
  width: 576px;
  height: 100px;
  clear: both;
  align-content: right;
}

.afbeeldingen {
  position: relative;
  grid-gap: 10px;
  padding: 10px;
  max-width: 576px;
  width: 100%;
}

.tekstbody {
  background-color: #5d67aa;
  max-width: 576px;
  width: 100%;
  margin: auto;
  color: white;
  padding: 10px;
}

img {
  width: 150px;
  height: 100px;
  padding: 8px;
}

.label {
  color: white;
  max-width: 576px;
}

body {
  background-color: #5d67aa;
}

@media (max-width: 576px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #0a0a0a;
    flex-direction: column;
    width: 200px;
    text-align: right;
    padding: 1rem;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

