.header {
  background-color: #5d67aa;
  color: white;
  width: 576px;
  text-align: center;
}
body {
  width: 576px;
}

.body {
  background-color: #5d67aa;
  color: white;
  text-align: center;
}

.menubutton {
  background-color: #5d67aa;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 300px;
  height: 50px;
}

a {
  color: white;
}

.menubutton:hover {
  background-color: rgb(128, 43, 226);
  color: white;
}

.buttoncontainer {
  text-align: center;
  align-items: center;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

.buttoncontainer > button {
  margin: 10px;
  border: none;
  display: block;
  background-color: #5d67aa;
  color: white;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 50px;
  text-decoration: none;
}

.buttoncontainer > button:hover {
  background-color: rgb(128, 43, 226);
  color: white;
}

.container {
  height: 200px;
  position: flex;
  clear: both;
  display: flex;
  gap: 20px;
  justify-items: start;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.forminput input {
  text-align: left;
  width: 576px;
  clear: both;
  background-color: #5d67aa;
  color: white;
}

.invoervelden {
  color: black;
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 576px;
}

.opmerkingen {
  background-color: #5d67aa;
  color: white;
  width: 576px;
  height: 100px;
  clear: both;
  align-content: right;
}

.footer {
  position: fixed;
  width: 576px;
  padding: 5px;
  background-color: #5d67aa;
  color: white;
  text-align: center;
}
