.header {
  background-color: #5d67aa;
  color: white;
  max-width: 576px;
  margin: auto;
  text-align: center;
}

.body {
  background-color: #5d67aa;
  color: white;
  text-align: center;
  justify-content: center;
  max-width: 576px;
  width: 100%;
  height: 100%;
}

.body > div {
  margin: auto;
}

footer {
  position: relative;
  max-width: 576px;
  min-height: 200px;
  margin: auto;
  background-color: #5d67aa;
  color: white;
  text-align: center;
}

.menubutton {
  background-color: #5daa65;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 300px;
  height: 50px;
}

.menubutton:hover {
  background-color: #5d67aa;
  color: white;
}

a:hover {
  color: white;
}

.container {
  display: grid;
  max-width: 576px;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #5d67aa;
  row-gap: 10px;
  column-gap: 50px;
}

.containercontactformulier {
  max-width: 576px;
  margin: auto;
  background-color: #5d67aa;
}

.container > div {
  background-color: #5d67aa;
  font-size: 30px;
  text-align: center;
  max-width: 576px;
  margin: auto;
}

.buttoncontainer {
  text-align: center;
  align-items: center;
  background-color: #5d67aa;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

.buttoncontainer > button {
  margin: 10px;
  border: none;
  display: block;
  background-color: #59ad73;
  color: white;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 50px;
  text-decoration: none;
}

.buttoncontainer > button:hover {
  background-color: rgb(43, 226, 83);
  color: white;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}

.forminput input {
  text-align: left;
  display: flex;
  width: 100%;
  background-color: #5daaa4;
  color: white;
}

.opmerkingen {
  background-color: #5d67aa;
  color: white;
  width: 576px;
  height: 100px;
  clear: both;
  align-content: right;
}

.afbeeldingen {
  position: relative;
  grid-gap: 10px;
  padding: 10px;
  max-width: 576px;
  width: 100%;
}

.tekstbody {
  background-color: #5d67aa;
  max-width: 576px;
  width: 100%;
  margin: auto;
  color: white;
  padding: 10px;
}

img {
  width: 150px;
  height: 100px;
  padding: 8px;
}

.label {
  color: white;
  max-width: 576px;
}

body {
  background-color: #5d67aa;
}
@media only screen and (min-width: 576px) {
  body {
    background-color: red;
  }
}
