body{
    color: white;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.header {
    padding: 5px;
    text-align: center;
    background: #1a42bc;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.content {padding:5px;}
body{
    background-color: rgb(135, 138, 235);
    ul a{
    color: white;
    text-decoration: none;
    text-align: center;
    }
    li{
    display: inline-block;
    height: 22px;
    width: 100px;
    padding: 5px;
    text-align: center;
    color: white;
    border-left: 2px solid green;
    border-right: 1px solid green;
    background-color: olive;
    }
.footer {
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 0, 98);
    color: white;
    text-align: center;
}
li:hover{
    background-color: lightgreen;
    border-style: none;
    }
h1{
    margin-left: 200px;
    }
input[type="text"], input[type="email"], input[type="message"] textarea, select, button{
    display: block;
    margin: 5px 0px; width: 400px;
    box-sizing: border-box;
    textarea{
    height: 200px;
    padding: 5px 4px;
    }
.center {
    text-align: center;
    padding: 5px;
    }
.container {
    display: flex;
    justify-content: center; 
 }